@import url("../../satoshi.scss");

@mixin scoreColor($color){
  font-family: Satoshi-Bold;
  font-size: 1rem;

  color: $color;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 2.1rem;
  height: 2.1rem;

  border-radius: 0.5rem;
  border: 0.15rem solid $color;

}

.green {
  @include scoreColor(#6c3);
}

.yellow {
  @include scoreColor(#fc3);
}

.red {
  @include scoreColor(#f00);
}

.notAvailable {
  @include scoreColor(gray);

  font-size: 0.9rem;
}
