@import url("../../satoshi.scss");

@mixin scoreColor($background-color){
  font-family: Satoshi-Bold;
  font-size: 1.1rem;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $background-color;

  width: 2.2rem;
  height: 2.2rem;

  border-radius: 0.5rem;
  border: 0.1rem solid white;
  box-shadow: 0 0 10px 5px lightgray;
}

.green {
  @include scoreColor(#53e153);
}

.yellow {
  @include scoreColor(#e7e758);
}

.red {
  @include scoreColor(#ff6767);
}

.notAvailable {
  @include scoreColor(gray);

  font-size: 0.9rem;
}
