.textSide {
  display: flex;
  flex-direction: column;
  gap: 4rem;

  &__buttons {
    display: flex;

    gap: 4rem
  }

  &__title {
    width: 40rem;
  }
}

.gamePageHead {
  display: flex;
  flex-wrap: wrap;

  gap: 5.5vw;

  align-items: center;
}

.errorMessage {
  color: gray;

  padding-top: 0.75rem;
  margin-top: -4rem;
}
