.details {
  width: 31rem;

  font-size: 1.5rem;

  display: flex;
  flex-direction: column;

  gap: 2rem;
}

.detail {
  display: flex;

  gap: 0.5rem;

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    gap: 0.25rem;
  }
}
