.GameDetails {
  display: flex;
  flex-direction: column;

  gap: 1.2rem;
}

.GameDetail {
  display: flex;
  flex-direction: row;

  font-size: 1.5rem;

  gap: 0.5rem;

  &__info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    gap: 0.25rem
  }
}
