.games {
  display: flex;
  flex-direction: row;

  &__body {
    width: 100vw;

    margin-top: 5rem;
  }

  &__options {
    width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;

    margin-top: 1.5rem;

    gap: 21vw;
  }

  &__filters {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 5.5rem;
  }
}
