.Loader {
  display: inline-block;

  width: 30rem;
  height: 30rem;

  &:after {
    content: "";
    display: block;

    width: 8rem;
    height: 8rem;


    border-radius: 50%;
    border: 0.3rem solid black;
    border-color: black transparent black transparent;

    animation: dual-ring 1.2s linear infinite;

    margin: 1rem;
  }

  @keyframes dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
