.container {
  width: 25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  font-size: 1.3rem;
}

.rangeSlider {
  position: relative;

  width: 20rem;
  height: 0.3rem;

  background-color: #ddd;

  &__progress {
    height: 0.3rem;

    position: absolute;

    background-color: #232222;

    transition: none;
  }
}

.inputs {
  position: relative;
}

input[type=range] {
  position: absolute;

  height: 0.3rem;
  width: 100%;

  pointer-events: none;

  background: none;
  -webkit-appearance: none;
}

input[type=range]::-webkit-slider-thumb {
  height: 1rem;
  width: 1rem;

  pointer-events: auto;
  cursor: pointer;

  background: #232222;
  border-radius: 50%;
  -webkit-appearance: none;
}

.value {
  font-size: 1.25rem;

  user-select: none;

  width: 1rem;
}
