.HowLongToBeatItem {
  width: 15vw;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 0.25rem;

  &__title {
    font-size: 2.5rem;

    text-align: center;
  }

  &__value {
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 1.6rem;

    gap: 0.25rem;
  }

  &__digit {
    font-size: 2.5rem;
    font-weight: bolder;
  }
}
