@import url("../../satoshi.scss");

.PageWithGames {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__body {
    width: 100vw;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__filters {
    display: flex;
    flex-direction: row;

    padding-left: 0.75rem;
    margin-top: 9.85rem;

    gap: 4rem;
  }
}
