.PageWithGames {
  display: flex;
  flex-direction: column;

  &__container {
    display: flex;
    flex-direction: row;
  }

  &__body {
    width: 100vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__filter {
    display: flex;
    flex-direction: row;
  }
}
