@mixin button {
  font-size: 1.4rem;
  font-weight: bolder;

  user-select: none;
  cursor: pointer;

  color: #b9b9b9;
  background-color: black;
  border: 0.1rem solid black;
  border-radius: 1rem;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

  padding: 0.25rem 1.5rem;
  margin: 1rem 0;
}

.activeButton {
  @include button;

  &:hover {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.25);

    transform: translateY(-0.15rem);

    color: white;
  }

  &:active {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

    transform: scale(0.95);
  }
}

.disabledButton {
  @include button;

  &:active {
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

    transform: scale(0.95);
  }
}
