.formInput {
  &__wrapper{
    display: flex;
    align-items: center;

    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

    border-radius: 1rem;
    border: 0.1rem solid lightgray;

    padding: 0 0.5rem;
  }

  &__errorWrapper {
    border: 0.15rem solid #de3c3c;

    transition: 2ms ease;
  }

  &__item {
    width: 42vw;
    height: 2.5rem;

    border: none;
    background: transparent;

    &::placeholder {
      font-weight: bold;
    }

    &:focus {
      outline: none;
    }
  }

  &__error {
    color: #de3c3c;

    padding: 0 0.2rem;

    margin-top: -0.85rem;
  }
}
