@import url("../../satoshi.scss");

.review {
  position: relative;

  width: 50rem;

  color: gray;

  display: flex;
  flex-direction: column;
  align-items: start;

  border: 0.12rem solid lightgray;
  border-radius: 1rem;

  background-color: white;
  box-shadow: 0 0 20px 5px lightgray;

  gap: 0.75rem;

  padding: 1rem 1.5rem 4rem 1.5rem;

  &:hover {
    color: black;

    box-shadow: rgba(0, 0, 0, 0.25) 0 20px 50px;
    transform: translateY(-0.5rem);
  }

  &__header {
    width: 47rem;

    display: flex;
    justify-content: space-between;
    align-items: end;
  }

  &__text {
    width: 47rem;

    overflow-wrap: break-word;
  }

  &__deleteButton {
    position: absolute;
    bottom: 1.25rem;
    right: 1.5rem;

    cursor: pointer;

    color: gray;

    &:hover {
      color: black;
    }
  }

  &__editButton {
    position: absolute;
    bottom: 1.25rem;
    right: 4rem;

    cursor: pointer;

    color: gray;

    &:hover {
      color: black;
    }
  }

  &__stats {
    position: absolute;
    bottom: 0.5rem;
    left: 1.5rem;

    display: flex;

    gap: 1.25rem;

    padding-bottom: 1rem;
  }

  &__reaction {
    display: flex;
    align-items: center;

    user-select: none;

    gap: 0.25rem;
  }

  &__activeReaction {
    cursor: pointer;
  }

  &__inactiveReaction {
    cursor: auto;
  }

  &__userMark {
    font: italic 1rem "Satoshi-Bold";

    user-select: none;
  }

  &__info {
    display: flex;
    align-items: end;

    gap: 0.5rem;
  }

  &__rating {
    display: flex;
  }
}
