.skeleton {
  width: 13.6rem;
  height: 2rem;

  background-color: darkgrey;
  border-radius: 1rem;

  animation: pulse 2s linear infinite;
}

@keyframes pulse {
  0%{
    background-color: darkgrey;
  }

  50% {
    background-color: gray;
  }

  100%{
    background-color: darkgrey;
  }
}
