.searchItem {
  display: flex;
  align-items: start;
  justify-content: start;

  cursor: pointer;
  text-decoration: none;

  color: black;

  gap: 0.5rem;

  margin: 0.5rem 0;

  &__image {
    border-radius: 0.35rem;

    object-fit: cover;

    width: 48px;
    height: 59px;
  }

  &:hover {
    transform: translateX(0.5rem);
  }
}
