.screenshots {
  width: 55rem;
  height: 10rem;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1.5rem;

  margin-left: 20rem;
  margin-bottom: 4rem;
}

.screenshot {
  width: 12rem;
  height: 8rem;

  border-radius: 1rem;

  cursor: pointer;

  box-shadow: 0 0 15px 10px lightgray;

  object-fit: scale-down;

  &:hover {
    transform: scale(1.1);
  }
}
