.screenshots {
  width: 44vw;

  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;

  padding-top: 6.4rem;
}

.screenshot {
  width: 12rem;
  height: 8rem;

  border-radius: 1rem;

  cursor: pointer;

  box-shadow: 0 0 40px 3px rgba(255, 255, 255, 0.19);

  object-fit: scale-down;

  &:hover {
    transform: scale(1.1);
  }
}
