.Container {
  width: 100vw;

  background: white;

  position: fixed;

  z-index: 999;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 3rem 2rem 3rem;

  &__items {
    display: flex;
    justify-content: space-around;

    font-size: 1.25rem;

    gap: 5rem;
  }

  &__item {
    cursor: pointer;
  }

  &__title {
    user-select: none
  }
}
