.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 2rem 12rem 0 3rem;

  &__items {
    display: flex;
    justify-content: space-around;

    font-size: 1.25rem;

    gap: 5rem;
  }

  &__item {
    cursor: pointer;
  }
}
