.container {
  width: 100vw;

  background: white;

  position: fixed;

  z-index: 999;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin: 1rem 3rem 1rem 3rem;

  &__items {
    display: flex;
    justify-content: space-around;

    font-size: 1.3rem;

    gap: 5rem;
  }

  &__item {
    cursor: pointer;

    color: black;

    &:hover {
      color: lightgrey;
    }

    &:active {
      transform: scale(0.9);
    }
  }

  &__title {
    user-select: none
  }
}
