@import "src/components/Search/Search.module";

.input {
  width: 42vw;
  height: 2.5rem;

  border: none;
  background: transparent;

  &::placeholder {
    font-weight: bold;
  }

  &:focus {
    outline: none;
  }
}

input[type="text"]
{
  font-size: 1.3rem;
  font-weight: bold;
}

.container{
  display: flex;
  align-items: center;

  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

  border-radius: 1rem;
  border: 0.1rem solid lightgray;

  padding: 0 0.5rem;
}
