.screenshots {
  width: 44vw;

  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;

  padding-top: 6.4rem;

  user-select: none;
}

.screenshot {
  width: 12rem;
  height: 8rem;

  border-radius: 1rem;

  cursor: pointer;

  box-shadow: rgba(0, 0, 0, 0.15) 0 8px 15px;

  object-fit: scale-down;

  &:hover {
    transform: translateY(-0.3rem);

    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  }
}
