.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
}

.wrapper {
  display: flex;

  backdrop-filter: blur(6px);
}

.game {
  width: 100vw;

  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: start;

  background: linear-gradient(180deg, rgba(254, 254, 254, 0.4) 0%, rgba(254, 254, 254, 1) 60%, white 100%);

  padding: 10.5rem 8rem 4rem 8rem;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 4rem;

    margin-top: 4rem;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: start;

    gap: 13vw;
  }

  &__about {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0 8rem;
  }
}

.scrollUp {
  width: 100%;

  position: fixed;
  bottom: 1rem;

  display: flex;
  justify-content: center;

  z-index: 100;

  &__button {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

    border-radius: 50%;
    border: 0.1rem solid lightgray;
  }
}

#show {
  opacity: 1;

  transition: opacity 0.1s ease-in;
}

#hide {
  opacity: 0;

  transition: opacity 0.1s ease-in;
}
