.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: -30rem;
}

.wrapper {
  display: flex;

  backdrop-filter: blur(6px);
}

.game {
  width: 100vw;

  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: start;

  background: linear-gradient(180deg, rgba(254, 254, 254, 0.4) 0%, rgba(254, 254, 254, 1) 40%, white 100%);

  padding: 10.5rem 8rem 4.5rem 8rem;

  &__body {
    display: flex;
    flex-direction: column;
    align-items: start;

    gap: 4rem;

    margin-top: 4rem;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: start;

    gap: 13vw;
  }

  &__text {
    font-size: 1.25rem;

    overflow-wrap: normal;

    margin-top: 2rem;
  }
}

.notFound {
  width: 100%;

  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5rem;

  margin-top: 5rem;

  &__link {
    color: black;
  }
}
