.AsideBar {
  width: 20rem;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: start;

    font-size: 1.5rem;

    margin: 7.5rem 0 0 2.5rem;

    gap: 2.5rem;
  }

  &__item {
    cursor: pointer;
  }
}
