@mixin button (){
  font-size: 1.5rem;

  cursor: pointer;

  text-decoration: none;

  user-select: none;

  &:hover {
    transform: translateY(-0.5rem);
  }

  &:active {
    transform: scale(0.8);
  }
}

.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding-top: 7.5rem;

  gap: 0.5rem;

  &__buttons {
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left: 15rem;

    gap: 5rem;
  }

  &__activeButton {
    @include button();

    &::after {
      content: "";
      display: block;

      width: 100%;
      height: 0.15rem;

      background-color: black;

      margin: 0.2rem 0;
    }
  }

  &__defaultButton {
    @include button();
  }

  &__games {
    width: 100%;
  }
}

.loaderArea {
  display: flex;
  justify-content: center;

  width: 100%;

  margin: 15rem 0;
}
