.account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;

  padding-top: 7.5rem;

  gap: 0.5rem;
}

.scrollUp {
  width: 100%;

  position: fixed;
  bottom: 1rem;

  display: flex;
  justify-content: center;

  z-index: 100;

  &__button {
    width: 3rem;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.15);

    border-radius: 50%;
    border: 0.1rem solid lightgray;
  }
}

#show {
  opacity: 1;

  transition: opacity 0.1s ease-in;
}

#hide {
  opacity: 0;

  transition: opacity 0.1s ease-in;
}
