.card {
  display: flex;
  flex-direction: column;

  box-shadow: 0 0 10px 5px lightgray;
  border-radius: 1rem;

  text-decoration: none;

  color: black;

  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }

  &__description {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;

    padding: 0.2rem 0 0.5rem 0.5rem;

    font-size: 1.2rem;

    gap: 0.4rem;
  }

  &__image {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    object-fit: cover;

    width: 443px;
    height: 280px;
  }

  &__title {
    overflow-wrap: normal;

    font-size: 1.5rem;

    width: 26rem;
  }
}
