@import url("satoshi.scss");

* {
  font-family: "Satoshi-Variable";

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  list-style-type: none;

  transition: all 0.5s ease;
}

p, a {
  font-family: "Satoshi-Medium";
}
