@import url("satoshi.scss");

* {
  font-family: "Satoshi-Variable";

  margin: 0;
  padding: 0;

  box-sizing: border-box;

  list-style-type: none;

  transition: all 0.25s ease;
}

p, a, select, option, label {
  font-family: "Satoshi-Medium";
}

h2 {
  font-size: 2.5rem;
}

option {
  text-align: start;
}

select {
  border: 0;
  border-radius: 0.5rem;
  box-shadow: 0 0 20px 2.5px lightgray;

  font-size: 1.15rem;

  width: 8.5rem;

  padding: 0.5rem 0.45rem;

  cursor: pointer;

  &:focus {
    outline: 0;
  }
}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px white inset;
}
