.textSide {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  &__buttons {
    display: flex;

    gap: 5rem
  }

  &__title {
    width: 40rem;
  }
}

.gameHead {
  display: flex;
  flex-wrap: wrap;

  gap: 6.6vw;

  align-items: center;
}
