.page {
  width: 100%;

  font-size: 1.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 5rem;

  margin-top: 5rem;

  &__link {
    color: black;

    &:hover {
      transform: translateY(-0.2rem);
    }
  }
}

.errorMessage {
  margin: 10rem auto auto;
}

