.skeleton {
  width: 44vw;

  display: flex;
  flex-wrap: wrap;

  gap: 1.5rem;

  padding-top: 6.4rem;

  &__item {
    width: 12rem;
    height: 8rem;

    background-color: darkgrey;
    border-radius: 1rem;

    animation: pulse 2s linear infinite;
  }
}

@keyframes pulse {
  0%{
    background-color: darkgrey;
  }

  50% {
    background-color: gray;
  }

  100%{
    background-color: darkgrey;
  }
}
